/*.video {*/
    /*background: #222;*/
    /*border: 1px solid black;*/
    /*box-shadow: 2px 2px 3px black;*/
    /*width: 480px;*/
    /*max-width: 100%;*/
    /*height: 360px;*/
    /*left: 10px;*/
    /*!*position: relative;*!*/
/*}*/

.overlay {
    background-color: rgba(0,0,0,0.9);
    /*background-color: rgb(0,0,0, 0.9);*/
    /*width: 0;*/
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}



#user_info {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 16px;
    background: aquamarine;
}

#container {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 30px - 20px);
    overflow: hidden;
    background-color: darkgray;
}

#side_bar {
    position: relative;
    width: 200px;
    height: auto;
    background: cornflowerblue;
}

#video_frame {
    flex: 1;
    display: block;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    width: auto;
    background-color: indigo;
    font-size: 0;
}

#video_elem {
    position: relative;
}


#footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex: 0 1 auto;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: darkolivegreen;
    /*padding: 2px;*/
}

#video_remote {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: coral;
}

#video_local {
    position: absolute;
    max-width: 320px;
    max-height: 180px;
    bottom: 2px;
    right: 4px;
    background-color: crimson;
    z-index: 10;
}

#ctrl_btns {
    display: flex;
    position: relative;
    justify-content: center;
    flex: 0 1 auto;
    width: 100%;
}

#ctrl_btns > button{
    max-width: 200px;
    margin: 0 20px;
}

#message_form {
    width: auto;
}

html, body {
    height: 100%;
    max-height: 100%;
    margin: 0 5px;
}

video {
    margin: 0;
}