/*.video {*/
    /*background: #222;*/
    /*border: 1px solid black;*/
    /*box-shadow: 2px 2px 3px black;*/
    /*width: 480px;*/
    /*max-width: 100%;*/
    /*height: 360px;*/
    /*left: 10px;*/
    /*!*position: relative;*!*/
/*}*/

.overlay {
    background-color: rgba(0,0,0,0.8);
    /*background-color: rgb(0,0,0, 0.9);*/
    /*width: 0;*/
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

ul li {
    list-style-type: none;
}

ul li:hover, ul li:focus {
    color: brown;
}

ul {
    padding-left: 10px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
}

ul li:nth-child(odd) {
    background-color: #f1f1f1;
}

ul li:nth-child(even) {
    background-color: #818181;
}


div#input_form > p, div#user_info > p {
    display: inline;
}

div#message, div#user_list {
    font-size: 16px;
    font-weight: bold;
}


#user_info {
    position: relative;
    width: 40%;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*background: aquamarine;*/
}

div > span {
    display: block;
    margin: 5px 0;
}

#user_list {
    border-top: 1px solid #eee;

}

#container {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 30px - 32px);
    overflow: hidden;
    border-top: 1px solid #eeeeee;
    /*background-color: darkgray;*/
}

#side_bar {
    position: relative;
    width: 200px;
    height: auto;
    /*background: cornflowerblue;*/
}

#side_bar > div {
    position: relative;
    height: 50%;
}

#video_frame {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    width: auto;
    background-color: lightgray;
    font-size: 0;
    height: 100%;
}

#video_elem {
    position: relative;
    display: flex;
    height: 100%;
}


#footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: lightgray;
}

#input_form {
    position: relative;
    display: flex;
    flex: 0 1 auto;
    width: 40%;
    height: auto;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}

#video_remote {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,1);
    margin: 0 auto;
}

#video_local {
    position: absolute;
    max-width: 320px;
    max-height: 180px;
    bottom: 4px;
    right: 4px;
    background-color: black;
    z-index: 1;
    /*box-shadow: 2px 2px 3px black;*/
}

#ctrl_btns {
    display: flex;
    position: relative;
    justify-content: center;
    flex: 0 1 auto;
    width: 100%;
}

#ctrl_btns > button{
    max-width: 200px;
    margin: 0 20px;
}


html, body {
    height: 100%;
    max-height: 100%;
    margin: 0 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

label {
    font-weight: bold;
}

video {
    margin: 0;
}

input {
    width: 60%
}

#video_frame.overlay {
    width: 100%;
    position: fixed;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/*#video_remote.overlay {*/
    /*background-color: rgba(0,0,0,0.9);*/
/*}*/